<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>App needs location access to run in background while recording</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>App needs location access to run in background while recording</string>
</dict>
</plist>
